# Maven - Ignoring all target directories
**/target/

# Include Maven wrapper files explicitly
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# Project specific
HELP.md

# Ignore application.properties file specifically in the backend project
backend/src/main/resources/application.properties

# macOS System files
.DS_Store

# Spring Tool Suite and Eclipse specific files
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

# IntelliJ IDEA specific files
**/.idea/
*.iws
*.iml
*.ipr

# NetBeans specific files
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/
**/build/

# Visual Studio Code specific files
**/.vscode/
